* {
    margin: 0%;
    margin-bottom: 0px;
}

@media screen and (max-width:3000px) {

    .footer {
        background: #272934;
        width: 100vw;
        height: 344px;
        display: flex;
        align-items: center;

        .container {
            max-width: 1240px;
            width: 90%;
            height: 100%;
            display: block;
            justify-content: space-between;
            margin-top: 100px;

            .footer_up {
                width: 100%;
                display: flex;
                justify-content: space-between;
                margin-bottom: 20px;

                .arend {
                    text-decoration: none;
                    color: #FFFFFF;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 21.94px;
                }

                .footer_up_right {
                    display: flex;
                    column-gap: 55px;

                    .footer_up_right_li {
                        text-decoration: none;
                        list-style-type: none;
                        color: #FFFFFF;
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 21.94px;
                    }
                }
            }

            .footer_center {
                margin-left: 0%;
                padding-left: 0%;
                margin-bottom: 40px;

                .footer_center_ul {
                    display: block;
                    margin-left: 0%;
                    padding-left: 0%;

                    .footer_center_ul_li {
                        list-style-type: none;
                        color: #F2F4F7;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 25px;
                    }
                }
            }

            .footer_center_two {
                display: none;
            }

            .footer_botton {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .footer_a {
                    text-decoration: none;
                    font-weight: 500;
                    font-size: 18px;
                    color: #F2F4F7;
                    width: 25%;
                    line-height: 21.94px;
                }

                .footer_kon {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 65%;

                    .footer_konf {
                        font-weight: 500;
                        font-size: 18px;
                        color: #F2F4F7;
                        margin: 0%;
                        line-height: 21.94px;

                    }
                    .footer_kon_in_fa {
                        display: flex;
                        align-items: center;
                        padding-bottom: 10px;

                        .facebook {
                            display: block;
                            margin-right: 10px;
                        }

                        .facebook1 {
                            display: none;
                        }

                        .insgtagram {
                            display: block;
                        }

                        .insgtagram1 {
                            display: none;
                        }
                    }
                }
            }
        }
    }

}

@media screen and (max-width:768px) {
    .footer {
        background: #272934;
        width: 100vw;
        height: 314px;
        display: flex;
        align-items: center;

        .container {
            max-width: 730px;
            width: 90%;
            margin: auto;
            height: 100%;
            display: block;
            justify-content: space-between;
            margin-top: 50px;

            .footer_up {
                width: 100%;
                display: flex;
                justify-content: space-between;
                margin: 10px 0px 10px 0px;

                .arend {
                    text-decoration: none;
                    color: #FFFFFF;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 19.5px;
                }

                .footer_up_right {
                    display: flex;
                    column-gap: 15px;

                    .footer_up_right_li {
                        text-decoration: none;
                        list-style-type: none;
                        color: #FFFFFF;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 19.5px;
                    }
                }
            }

            .footer_center {
                margin-left: 0%;
                padding-left: 0%;
                margin: 10px 0px 25px 0px;

                .footer_center_ul {
                    display: block;
                    margin-left: 0%;
                    padding-left: 0%;

                    .footer_center_ul_li {
                        list-style-type: none;
                        color: #F2F4F7;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 22px;
                    }
                }
            }

            .footer_botton {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .footer_a {
                    text-decoration: none;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 19.5px;
                    color: #F2F4F7;
                    width: 25%;
                }

                .footer_kon {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 65%;

                    .footer_konf {
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 19.5px;
                        color: #F2F4F7;
                        margin: 0%;
                    }

                    .footer_kon_in_fa {
                        display: flex;
                        align-items: center;
                        padding-bottom: 10px;

                        .facebook1 {
                            display: none;
                        }

                        .facebook {
                            display: block;
                            margin-right: 10px;
                        }

                        .insgtagram1 {
                            display: none;
                        }

                        .insgtagram {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:640px) {
    .footer {
        background: #272934;
        width: 100vw;
        height: 354px;
        display: flex;
        align-items: center;

        .container {
            max-width: 500px;
            width: 90%;
            margin: auto;
            height: 100%;
            display: block;
            justify-content: space-between;
            margin: 20px;

            .footer_up {
                width: 100%;
                display: flex;
                justify-content: space-between;

                .arend {
                    text-decoration: none;
                    color: #FFFFFF;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 19.5px;
                }

                .footer_up_right {
                    display: none;
                }
            }

            .footer_center {
                margin-left: 0%;
                padding-left: 0%;
                margin: 10px 0px 20px 0px;

                .footer_center_ul {
                    display: block;
                    margin-left: 0%;
                    padding-left: 0%;

                    .footer_center_ul_li {
                        list-style-type: none;
                        color: #F2F4F7;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 21px;
                        padding: 5px 0px;
                    }
                }
            }

            .footer_center_two {
                display: flex;
                justify-content: flex-start;
                margin: 20px 0px 15px 0px;

                .footer_center_two_ul {
                    display: block;
                    padding: 0%;
                    margin-right: 25px;

                    .footer_center_two_ul_li {
                        text-decoration: none;
                        list-style-type: none;
                        color: #FFFFFF;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 19.5px;
                    }
                }
            }

            .footer_botton {
                display: block;
                justify-content: space-between;
                align-items: center;

                .footer_a {
                    text-decoration: none;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 19.5px;
                    color: #F2F4F7;
                }

                .footer_kon {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;

                    .footer_konf {
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 19.5px;
                        color: #F2F4F7;
                        margin: 0%;
                    }

                    .footer_kon_in_fa {
                        display: flex;
                        align-items: center;
                        padding-bottom: 0px;

                        .facebook {
                            display: none;
                        }

                        .facebook1 {
                            display: block;
                            margin-right: 10px;
                        }

                        .insgtagram {
                            display: none;
                        }

                        .insgtagram1 {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:380px) {
    .footer {
        background: #272934;
        width: 100vw;
        height: 487px;
        display: flex;
        align-items: center;

        .container {
            max-width: 301px;
            width: 90%;
            margin: auto;
            height: 100%;
            display: block;
            justify-content: space-between;
            margin-top: 40px;

            .footer_up {
                width: 100%;
                display: flex;
                justify-content: space-between;
                margin: 5px 0px 20px 0px;

                .arend {
                    text-decoration: none;
                    color: #FFFFFF;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 19.5px;
                }

                .footer_up_right {
                    display: none;
                }
            }

            .footer_center {
                margin-left: 0%;
                padding-left: 0%;
                margin: 10px 0px 30px 0px;

                .footer_center_ul {
                    display: block;
                    margin-left: 0%;
                    padding-left: 0%;

                    .footer_center_ul_li {
                        list-style-type: none;
                        color: #F2F4F7;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 21px;
                        padding: 5px 0px;
                    }
                }
            }

            .footer_center_two {
                display: flex;
                justify-content: space-between;
                margin: 30px 0px 15px 0px;

                .footer_center_two_ul {
                    display: block;
                    padding: 0%;

                    .footer_center_two_ul_li {
                        list-style-type: none;
                        color: #FFFFFF;
                        font-weight: 600;
                        font-size: 15px;
                        line-height: 19.5px;
                        margin: 10px 0px;
                    }
                }
            }

            .footer_botton {
                display: block;
                justify-content: space-between;
                align-items: center;

                .footer_a {
                    text-decoration: none;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 19.5px;
                    color: #F2F4F7;
                }

                .footer_kon {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    margin: 10px 0px;

                    .footer_konf {
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 19.5px;
                        color: #F2F4F7;
                        margin: 0%;
                    }

                    .footer_kon_in_fa {
                        display: flex;
                        align-items: center;
                        padding-bottom: 0px;

                        .facebook {
                            display: none;
                        }

                        .facebook1 {
                            display: block;
                            margin-right: 10px;
                        }

                        .insgtagram {
                            display: none;
                        }

                        .insgtagram1 {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}